:root {
    --main-color: orangered;
    --text-color: #000;
    --back-color: #f4f4f4;
}

.dark-theme{
	--text-color: #fff;
    --back-color: #000;
}

body{
	background: var(--back-color);
	color: var(--text-color);
	font-family: Arial, sans-serif;
}

.head{
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
}

.linecontain{
	display: flex;
	justify-content: center;
	align-items: center;
}

.line{
	width: 600px;
	height: 20px;
	background-color: var(--main-color);
}

.moleimg{
	margin-top: 5rem;
	justify-content: center;
	align-items: center;
	display: flex;
}

.frames{
	height: 87.5vh;
	margin-top: 5rem;
}

.frames img{
	width: 80%;
	cursor: pointer;
}

.frames img:hover{
	width: 85%;
}

.projectinfo{
	text-align: center;
}

.projectname{
	font-size: 30px;
	font-weight: bolder;
	color: var(--main-color);
}

.projectsub{
	font-weight: bolder;
}

.projectbutton a{
	text-decoration: none;
	color: white;
}

.projectbutton{
	margin-top: 10px;
	padding: 0 30px;
	font-size: 25px;
	border-radius: 10px;
	border: none;
	color: white;
	background-color: var(--main-color);
}

.projectbutton:hover{
	background-color: orange;
}

.loginimg{
	margin-top: 8rem;
	justify-content: center;
	align-items: center;
	display: flex;
}


@media (max-width: 1100px) {
	.frames{
		height: 80vh;
	}

	.frames img{
		height: 500px;
	}
}

@media (max-width: 750px) {
	.line{
		width: 300px;
		height: 15px;
		background-color: var(--main-color);
	}

	.head{
		font-size: 30px;
	}
}